<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76727710233-3ak6ngtu6dag79ddtn0l0mcm1pa5ucks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76727710233-3ak6ngtu6dag79ddtn0l0mcm1pa5ucks</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>76727710233-nop5jkg46uq9p86el13ici87pp99p4nh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdqQTSSeT5YAKYOya4zidJ4Ut2n1Uw6Gs</string>
	<key>GCM_SENDER_ID</key>
	<string>76727710233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bacon.expo.googlesignin</string>
	<key>PROJECT_ID</key>
	<string>rock-n-folk-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rock-n-folk-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76727710233:ios:741d107d5f665f9d683088</string>
	<key>DATABASE_URL</key>
	<string>https://rock-n-folk-app.firebaseio.com</string>
</dict>
</plist>